#ignores folder dependencies of build file
build/
# use these commands in order to accomplish this
#git rm -r --cached "fodlername/"
#git commit -m "Remove build from Git tracking"
#git add gitignore
