<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Prompt Execution</title>
</head>
<body>
    <h2>Windows Commands</h2>
    <form action="/run_command" method="POST">
        <select name="command">
            <option value ="ipconfig"> IP Config</option>
            <option value ="nslookup"> Ns Lookup</option>
            <option value ="arp"> ARP </option>
        </select>
        <button type ="submit">Run Command</button>
    </form>
    
</body>
</html>